.btn-primary {
  background-color: $color-primary-4;
  border-color: $color-primary-4;
}

.content {
  background-color: $color-primary-1;
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}
